# Versión de Immich
IMMICH_VERSION=release

# Rutas de almacenamiento (se recomienda ubicar las fotos en un disco HDD/SSD de almacenamiento dedicado)
UPLOAD_LOCATION=/mnt/storage/immich/upload
DB_DATA_LOCATION=/mnt/storage/immich/postgres

# Credenciales de base de datos
DB_USER=postgres
DB_PASSWORD=TU_PASSWORD_AQUI
DB_DATABASE_NAME=immich
