# Base de Datos TimescaleDB
DB_PASSWORD=TU_PASSWORD_AQUI

# Grafana Admin
GRAFANA_PASSWORD=TU_PASSWORD_AQUI

# Alertas Telegram (Opcional)
TELEGRAM_BOT_TOKEN=TU_BOT_TOKEN_TELEGRAM_AQUI
TELEGRAM_CHAT_ID=TU_CHAT_ID_TELEGRAM_AQUI
