# APIs de Voz e IA
DEEPGRAM_API_KEY=TU_API_KEY_DEEPGRAM_AQUI
GEMINI_API_KEY=TU_API_KEY_GEMINI_AQUI

# Integración Home Assistant
HA_URL=http://localhost:8123
HA_TOKEN=TU_TOKEN_LONG_LIVED_HOME_ASSISTANT_AQUI

# APIs de Tráfico / Mapas
TOMTOM_API_KEY=TU_API_KEY_TOMTOM_AQUI
