# Base de Datos de n8n
POSTGRES_PASSWORD=TU_PASSWORD_AQUI

# Acceso y Seguridad de n8n
N8N_BASIC_AUTH_PASSWORD=TU_PASSWORD_AQUI
N8N_ENCRYPTION_KEY=TU_ENCRYPTION_KEY_AQUI

# URLs de Acceso y Webhooks (Publicadas a través de Cloudflare Tunnel)
WEBHOOK_URL=https://n8n.tu-dominio.com/
N8N_EDITOR_BASE_URL=https://n8n.tu-dominio.com/
